{% extends "base_site.html" %}

{% block left-column %}

    <!-- ColumnaCentral -->
    <section>   
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

            <article class="col-sm-12"> 
                <div class="columna">
                    <div class="parrafo">

                       <!-- <div class="t">
                            <img class="img-t4" src="/static/img/t7.png" alt="Tetris central" />
                        </div> -->
                            {% for c in columnacentral %}
                                <h1 class="text-index">{{c.parrafo1}}</h1>
                                <h3 class="text-index">{{c.parrafo2}}</h4>

                                <a href=""><img class="imagenes img-rounded" src="https://farm4.staticflickr.com/3892/15302661426_86eb11e9c2_z.jpg" style="border-radius: 3px; border: 3px solid rgb(36, 34, 28);" width="640" height="346" alt="pyday_lujan"></a>
                                <h3 class="text-index">¡Nos vemos en <a class="enlace" href="http://pycon.com.ar/pyconar2014/" target="_blank">PyconAr Rafaela</a>!</h4>


                                {%if c.enlace%}
                                    <center><h4><a class='btn btn-success btn-lg' href="{{c.enlace}}" target="__blank">FOTOGRAFíAS</a></h4></center>
                                {%endif%}
                                {%if c.img%}
                                    <img src="media/{{c.img}}" class="img-rounded" alt="{{c.parrafo1}}" />
                                {%endif%}
                            {% endfor %}

                    </div>
                </div>

            </article>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
             <!-- Columna Uno -->
            <article class="col-sm-6">
                <div class="columna">
                    <div class="logo">
                        <img class="img-logo" src="/static/img/t1.png" alt="Tetris columna derecha" />
                    </div>
                    <div class="parrafo">
                        {% for c in columnauno %}
                            <h2>{{c.titulo}}</h2>
                            <p>{{c.parrafo1}}</p>
                            <p>{{c.parrafo2}}</p>
                            {%if c.enlace%}
                                 <center><h4><a class='btn btn-warning btn-lg' href="{{c.enlace}}" target="__blank">Ver Slides de las Charlas</a></h4></center>
                            {%endif%}
                            {%if c.img%}
                                <img class="img.novedades img-rounded" src="media/{{c.img}}" alt="{{c.titulo}}" />
                            {%endif%}
                        {% endfor %}                       
                    </div>
                </div>
            </article>

             <!-- Columna Dos -->
            <article class="col-sm-6"> 
                <div class="columna">
                    <div class="t logo">
                        <img class="img-t6" src="/static/img/t6.png" alt="Tetris columna izquierda" />
                    </div>
                    <div class="parrafo">
                        {% for c in columnados %}
                            <h2>{{c.titulo}}</h2>
                            <p>{{c.parrafo1}}</p>
                            <p>{{c.parrafo2}}</p>
                            {%if c.enlace%}
                                <center><h4><a class='btn btn-primary btn-lg' href="{{c.enlace}}" target="__blank">Pagina de Frikio</a></h4></center>
                            {%endif%}
                            {%if c.img%}
                                <img class="img.novedades img-rounded" src="media/{{c.img}}" alt="{{c.titulo}}" />
                            {%endif%}
                        {% endfor %}   
                    </div>

                </div>
            </article>
            </div>
            <div class="col-md-2"></div>
    
               
        </div>
        <div class="parrafo">
            <h3 class="text-index"> REMERA DEL PYDAY LUJÁN 2014</h3> 
            <center><a href="" title="Remera Pyday Luján 2014 by PyDay_Lujan, on Flickr"><img class="imagenes img-rounded" src="https://farm4.staticflickr.com/3885/15374530065_c5b394b805.jpg" style="border-radius: 3px; border: 3px solid rgb(36, 34, 28);" width="500" height="281  "  alt="Remera Pyday Luján 2014"></a></center>  
            
        </div>
                         

    </section>    

    <!-- Últimas noticias -->
    <section class="list-group">
        <header class="list-group-item">
            <div class="logo">
                <img class="img-logo" src="/static/img/t3.png" alt="Tetris columna inferior" />
            </div>       
            <h1 ><b>Novedades</b></h1>
            {% for novedad in novedades %}
                
                <article class="list-sponsor-item">
                    <h3 class="list-group-item-heading">{{novedad.titulo}}</h3>                   
                     <h4>{{novedad.parrafo1}}</h4>
                     <h4>{{novedad.parrafo2}}</h4>
                     {%if novedad.enlace%}
                        <a href="{{novedad.enlace}}">Mas Información</a>
                     {%endif%}
                    {%if novedad.img%}
                        <img class="img-novedad img-rounded" src="media/{{novedad.img}}" alt="{{novedad.titulo}}" />
                    {%endif%}
                <h4>------</h4>

                </article>
            {% endfor%}            
        </header>
    </section>

<!-- SPONSOR -->
    <div class="row titulos"> 
        <h3 class="text-center titulos"><b>Sponsors</b></h3>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- Columna 1 -->
            <div class="col-md-4">                                           
                    <section class="list-sponsor">                            
                            {% for sponsor in sponsors %}
                            {% ifequal sponsor.categoria.nombre "Sponsor"%}
                                {% ifequal sponsor.columna "1" %}
                                    <article class="list-sponsor-item">
                                        <a href="{{sponsor.website}}" target="_blank">
                                            <img class="img-sponsor-grande img-rounded" src="media/{{sponsor.logo}}" alt="{{sponsor.nombre}}" />
                                        </a>
                                    </article>
                                {%endifequal%}
                                {%endifequal%}
                            {% endfor%}
                    </section>
            </div>
            <!-- Columna 2 -->
            <div class="col-md-4">                                           
                    <section class="list-sponsor">                            
                            {% for sponsor in sponsors %}
                                {% ifequal sponsor.categoria.nombre "Sponsor"%}
                                {% ifequal sponsor.columna "2" %}
                                
                                    <article class="list-sponsor-item">
                                        <a href="{{sponsor.website}}" target="_blank">
                                            <img class="img-sponsor-grande img-rounded" src="media/{{sponsor.logo}}" alt="{{sponsor.nombre}}" />
                                        </a>
                                    </article>
                                {%endifequal%}
                                {%endifequal%}
                            {% endfor%}
                    </section>
            </div>
            <!-- Columna 3 -->
            <div class="col-md-4">                                           
                    <section class="list-sponsor">                            
                            {% for sponsor in sponsors %}
                                {% ifequal sponsor.categoria.nombre "Sponsor"%}
                                {% ifequal sponsor.columna "3" %}
                                    <article class="list-sponsor-item">
                                        <a href="{{sponsor.website}}" target="_blank">
                                            <img class="img-sponsor-grande img-rounded" src="media/{{sponsor.logo}}" alt="{{sponsor.nombre}}" />
                                        </a>
                                    </article>
                                {%endifequal%}
                                {%endifequal%}
                            {% endfor%}
                    </section>
            </div>

        </div>

        <div class="col-md-3"></div>    
        
    </div>

    <!-- COMUNIDADES -->
    <!-- Solo dos Columnas-->
    <div class="row titulos"> 
        <h3 class="text-center titulos"><b>Agradecimiento Especial</b></h3>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- Columna 1 -->
            <div class="col-md-2">   
            </div>
            <div class="col-md-4">                                           
                    <section class="list-sponsor">                            
                            {% for sponsor in sponsors %}
                            {% ifequal sponsor.categoria.nombre "Colaboradores"%}
                                {% ifequal sponsor.columna "1" %}
                                    <article class="list-sponsor-item">
                                        <a href="{{sponsor.website}}" target="_blank">
                                            <img class="img-sponsor img-rounded" src="media/{{sponsor.logo}}" alt="{{sponsor.nombre}}" />
                                        </a>
                                    </article>
                                {%endifequal%}
                                {%endifequal%}
                            {% endfor%}
                    </section>
            </div>
            <!-- Columna 2 -->
            <div class="col-md-4">                                           
                    <section class="list-sponsor">                            
                            {% for sponsor in sponsors %}
                                {% ifequal sponsor.categoria.nombre "Colaboradores"%}
                                {% ifequal sponsor.columna "2" %}
                                
                                    <article class="list-sponsor-item">
                                        <a href="{{sponsor.website}}" target="_blank">
                                            <img class="img-sponsor img-rounded" src="media/{{sponsor.logo}}" alt="{{sponsor.nombre}}" />
                                        </a>
                                    </article>
                                {%endifequal%}
                                {%endifequal%}
                            {% endfor%}
                    </section>
            </div>
            <div class="col-md-2">   
            </div>

        </div>

        <div class="col-md-3"></div>    
        
    </div>


    <!-- ORGANIZADORES -->
    <div class="row titulos"> 
        <h3 class="text-center titulos"><b>Organizadores</b></h3>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- Columna 1 -->
            <div class="col-md-4">                                           
                    <section class="list-sponsor">                            
                            {% for sponsor in sponsors %}
                                {% ifequal sponsor.categoria.nombre "Organizadores"%}
                                 {% ifequal sponsor.columna "1" %}
                                    <article class="list-sponsor-item">
                                        <a href="{{sponsor.website}}" target="_blank">
                                            <img class="img-sponsor img-rounded" src="media/{{sponsor.logo}}" alt="{{sponsor.nombre}}" />
                                        </a>
                                    </article>
                                {%endifequal%}
                                {%endifequal%}

                            {% endfor%}
                    </section>
            </div>
            <!-- Columna 2 -->
            <div class="col-md-4">                                           
                    <section class="list-sponsor">                            
                            {% for sponsor in sponsors %}
                                
                                {% ifequal sponsor.categoria.nombre "Organizadores" %}
                                {% ifequal sponsor.columna "2" %}
                                    <article class="list-sponsor-item">
                                        <a href="{{sponsor.website}}" target="_blank">
                                            <img class="img-sponsor img-rounded" src="media/{{sponsor.logo}}" alt="{{sponsor.nombre}}" />
                                        </a>
                                    </article>
                                {%endifequal%}
                                {%endifequal%}
                            {% endfor%}
                    </section>
            </div>
            <!-- Columna 3 -->
            <div class="col-md-4">                                           
                    <section class="list-sponsor">                            
                            {% for sponsor in sponsors %}
                                {% ifequal sponsor.categoria.nombre "Organizadores" %}
                                {% ifequal sponsor.columna "3" %}
                                    <article class="list-sponsor-item">
                                        <a href="{{sponsor.website}}" target="_blank">
                                            <img class="img-sponsor img-rounded" src="media/{{sponsor.logo}}" alt="{{sponsor.nombre}}" />
                                        </a>
                                    </article>
                                {%endifequal%}
                                {%endifequal%}
                            {% endfor%}
                    </section>
            </div>
        </div>
        <div class="col-md-3"></div>            
    </div>
    <div class="col-md-12">
        <div class="parrafo">
        <h5 class="titulo">Si queres ser sponsor del Pyday Luján envianos un correo a <b>pydaylujan@gmail.com</b></h5>            
        </div>
    </div>

 {% endblock %}
