{% extends "base_site.html" %}

{% block left-column %}

    <!-- ColumnaCentral -->
    <section>   
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">


                <article class="col-sm-12"> 
                <div class="parrafo">
                    <h3 class="titulos">ENVIANOS UN CORREO A</h3>
                    <h4><i class="fa fa-envelope fa-1x"></i> &nbsp;<a href="mailto:pydaylujan@gmail.com">pydaylujan@gmail.com</a></h4>
                    <h3 class="titulos">ORGANIZADORES</h3>
                        {% for i in organizadores%}
                            {% ifequal i.visible "T" %}
                            <p><i class="fa fa-user fa-1x"></i> <b> </b> {{i.nombre}}</p>
                            {%endifequal%}
                        {% endfor%}
                                       

                    <div>
                        <h3 class="titulos">Redes Sociales</h3>
                      <!--  <a href="/inscripcion"><i class="fa fa-twitter fa-4x fa-inverse"></i> </a> -->
                        <a href="https://twitter.com/PydayLujan" class="icon-button twitter" target="_blank" ><i class="fa fa-twitter icon-twitter" ></i><span></span></a>
                        <a href="https://www.facebook.com/events/734062113322575/?fref=ts" target="_blank" class="icon-button facebook"><i class="fa fa-facebook icon-facebook" ></i><span></span></a>
                        <a href="https://plus.google.com/u/0/events/cmcdc6d1dbrg7u332hpbga5kobo?authkey=CMn3g5XDiM7xuQE" class="icon-button google-plus" target="_blank" ><i class="fa fa-google-plus icon-google-plus"></i><span></span></a>
                    </div>
                </div>
                </article>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>
  
 {% endblock %}