{% extends "base_site.html" %}

{% block left-column %}
    <section>
        <div class="row">
            <article class="col-sm-6">
                <div class="img aprendiendo_python"></div>
                <h3 class="text-center">Aprendiendo Python</h3>
                <p class="text-center">Recopilación de links y material que los miembros de PyAr consideramos útil para aquellos que se inician en este lenguaje.</p>
            </article>
            <article class="col-sm-6">
                <div class="img proyectos_comunidad"></div>
                <h3 class="text-center">Proyectos de la comunidad</h3>
                <p class="text-center">Información sobre los proyectos que encaramos como grupo, o en los que participan nuestros miembros.</p>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-6">
                <div class="img lista_correo"></div>
               
                <p class="text-center">zzzzzzsadad (feed rss disponible).</p>
            </article>
            <article class="col-sm-6">
                <div class="img quienes_usan_python"></div>
                <p class="text-center">Información sobre organizaciones que utilizan Python en Argentina.</p>
            </article>
        </div>
    </section>

    <!-- Últimas noticias -->
    <section class="list-group">
        <header class="list-group-item">
            <h3 class="list-group-item-heading">Últimas noticias</h3>
        </header>

    </section>

    <!-- Estadísticas de la lista de correo -->
    <section class="list-group">
        <header class="list-group-item">
            <h3 class="list-group-item-heading">Estadísticas de la lista de correo</h3>
        </header>

    </section>
{% endblock %}
