{% extends "base_site.html" %}

{% block left-column %}

    <!-- ColumnaCentral -->
    <section>   
        <div class="row text-justify">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <article class="col-sm-12">
                    <h2>CONFERENCIA</h2>

                    {% for c in contenidos %}
                        {% ifequal c.visible "T" %}
                                    <h3 class='titulos'>{{c.titulo}}</h3>
                                    <p>{{c.parrafo1}}</p>
                                    <p>{{c.parrafo2}}</p>
                                    {%if c.enlace%}
                                        <h4><a class='enlaces' href="{{c.enlace}}">Mas Información</a></h4>
                                    {%endif%}
                                    {%if c.img%}
                                        <img class="imagenes img-rounded" src="media/{{c.img}}" alt="{{c.titulo}}" />
                                    {%endif%}

                                {% endifequal%}

                    {% endfor %}

                </article>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>
  
 {% endblock %}