{% extends "base_site.html" %}

{% block left-column %}

    <!-- ColumnaCentral -->
    <section>   
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <article class="col-sm-12">

                    <h3 class="titulos"> <i class="fa fa-calendar fa-1x"></i> Fecha y Hora <span style="color: #225500; padding-left: 5em;">20 de Septiembre de 2014 - 11:00 a 19:00</span></h3>
                </article>

            </div>
            <div class="col-md-1"></div>

        </div>
        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-10">

                <article class="col-sm-6 text-justify">

                    <h3 class="titulos"><i class="fa fa-university"></i> Lugar </h3>
                    <p>La <a href="http://www.unlu.edu.ar/" style="font-weight: bold">Universidad Nacional de Luján (UNLu)</a> es una universidad pública fundada en 1972 como parte del programa de reorganización de la educación superior. Fue cerrada durante el Proceso de Reorganización Nacional y reabierta en 1984, luego de restablecida la democracia.</p>
                    <p>Hoy presenta una fuerte orientación a la actividad académica, formando profesores e investigadores en biología y ecología y en áreas de las ciencias humanas y sociales. Cuenta con una estructura departamental con sede en la ciudad de Luján, más centros regionales y delegaciones en las localidades de Campana, San Miguel, Chivilcoy, San Fernando y la Ciudad Autónoma de Buenos Aires.</p>
                    <img class="imagenes" src="/static/img/lugar.jpg" alt="Entrada Universidad Nacional de Luján" />
                </article>

                <article class="col-sm-6">
                    <h3 class="titulos"> <i class="fa fa-map-marker fa-1x"></i> Mapa </h3>
                    <p><b>Dirección:</b> Ruta 5 y Avenida Constitución - Luján, Buenos Aires, Argentina
                         <a class='enlaces' href="https://www.google.com/maps/preview?ll=-34.576895,-59.087734&z=17&t=m&hl=es-AR&gl=US&mapclient=embed&cid=3367363100814768048" target="_blank">[Ampliar Mapa]</a>
                    </p>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3285.0356891218153!2d-59.08853850926208!3d-34.577963499091176!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ebb46e62dd277b0!2sUniversidad+Nacional+de+Lujan!5e0!3m2!1ses-419!2s!4v1403537688246" width="100%" height="470" frameborder="0" style="border:1"></iframe>
                    </div>
                </article>

            </div>
            <div class="col-md-1"></div>

        </div>
        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-10">

                <article class="col-sm-6">
                    <h3 class="titulos"> <i class="fa fa-car"></i> Cómo llegar </h3>
                    <dl>
                        <dt>Desde Once (Plaza Miserere)</dt>
                        <dd>- Colectivo Línea 57, ramal Once-Luján (por autopista), con parada en la Universidad</dd>
                        <dd>- Ferrocarril Sarmiento, ramal Once-Moreno (eléctrico). Luego combinación con ramal Moreno-Mercedes (diesel), parando en estación Universidad Nacional de Luján 
                            <a href="http://trenes.mininterior.gov.ar/v2_pg/mapas/sarmiento/index.php">[Mapa]</a></dd>
                    </dl>
                    <dl>
                        <dt>Desde Palermo (Plaza Italia)</dt>
                        <dd>- Colectivo Línea 57, ramal Palermo-Luján/Mercedes (por Buen Ayre)</dd>
                    </dl>
                    <dl>
                        <dt>Desde Moreno</dt>
                        <dd>- Ferrocarril Sarmiento, ramal Moreno-Mercedes (diesel), parando en Estación Universidad Nacional de Luján</dd>
                        <dd>- Colectivo Línea 57</dd>
                        <dd>- Colectivo Línea 203</dd>
                    </dl>
                    <dl>
                        <dt>Desde San Miguel / José C. Paz</dt>
                        <dd>- Colectivo Línea 365</dd>
                    </dl>
                    <dl>
                        <dt>Desde Escobar / Pilar</dt>
                        <dd>- Colectivo Línea 276 (ramal a Luján - S.A. de Giles - C. de Areco)</dd>
                    </dl>
                    <dl>
                        <dt>Desde Mercedes</dt>
                        <dd>- Ferrocarril Sarmiento, ramal Mercedes-Moreno (diesel), parando en Estación Universidad Nacional de Luján</dd>
                        <dd>- Colectivo Línea 57, ramal Mercedes-Palermo</dd>
                    </dl>
                    <dl>
                        <dt>Desde Carmen de Areco / San Andrés de Giles</dt>
                        <dd>- Colectivo Línea 276 (ramal a Escobar)</dd>
                    </dl>
                    <dl>
                        <dt>Desde Zárate / Campana</dt>
                        <dd>- Colectivo Línea 228</dd>
                    </dl>
                </article>

                <article class="col-sm-6">
                    <h3 class="titulos"><i class="fa fa-home"></i> Información sobre alojamiento </h3>
                    <div>
                        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=213357623288162851578.0004bde9ee9a848051d65&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=-34.564888,-59.120994&amp;spn=0,0&amp;output=embed"></iframe>
                        <p>Ver <a href="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=213357623288162851578.0004bde9ee9a848051d65&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=-34.564888,-59.120994&amp;spn=0,0" style="color:#0000FF;text-align:left" target="_blank">Hoteles en el centro de Luján</a> en un mapa ampliado</p>
                    </div>
                </article>

            </div>
            <div class="col-md-1"></div>

        </div>

    </section>
  
 {% endblock %}
