{% extends "base_site.html" %}
{% load staticfiles %}

{% block left-column %}

    <div class="col-md-12">


            
        </div> 

    </div>

    <section>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                    <div id="tetris">
                        <div id="info">
                            <p id="next"> Next <span></span></p>
                            <div id="next_shape">Next</div>
                            <p id="level"> Level: <span></span></p>
                            <p id="lines"> Lines: <span></span></p>
                            <p id="score"> Score: <span></span></p>
                            <p id="time"> Time: <span></span></p>
                        </div>
                        <div id="canvas"></div>
                    </div>
                    <script src="{% static "js/tetris.js" %}"></script>

                </div>
            <div class="col-md-3"></div>
        </div>
    </section>


    <div class="col-md-12">
        <div class="parrafo">
        <h4>Despues de Jugar... no olvides
        <a class="enlaces" href="/inscripcion/formulario" target="_blank"> <b>Inscribite</b> </a>
         al Pyday Luján 2014
        </h4>
            <h4><a class="enlaces" href="http://codepen.io/Shahn-Auronas/pen/BplsL" target="_blank"> fuente original del juego </a></h4>
        </div> 
    </div>
 {% endblock %}
