/*
 * General
 */

body {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #24221c;
    background-image: url(/static/img/banner4.png);
}

/*
 * Main
 */
.titulos{
	color: #454837;
	margin-top: 30px;


}

.text-index {
	color: #565555;
	margin: 10px;
	margin-top:20px;
	font-weight: normal; ;
}

#main {
    background: #fff;
    border-radius: 0px 0px 0 0;
    padding: 0px 0px 10px;
    margin-top: -10px;
}

#main > div.row > div.col-md-7 div.row > article.col-sm-6 > div.img {
        background-image: url(/static/img/icons/icons.png);
        height: 62px;
        width: 62px;
        margin: 0 auto;
}


#main > div.row > div.col-md-7 div.row > article.col-sm-6 > div.img.aprendiendo_python {
        background-position: 195px 0;
        background-image: url(/static/img/icons/icons.png);
}

#main > div.row > div.col-md-7 div.row > article.col-sm-6 > div.img.proyectos_comunidad {
        background-position: 62px 0;
}

#main > div.row > div.col-md-7 div.row > article.col-sm-6 > div.img.lista_correo {
        background-position: 128px 0;
}

.logo{
	margin-top: 10px;
	background-color: #fff;
	text-align:center;
	padding: 10px;
}

.img-logo{
	width: 200px;
	height: 150px; 
}
.parrafo{
	margin-top: 5px;
	text-align:center; 
}
/*
 * Figuras Tetris
 */

.t{
	margin-top: 0px;
	background-color: #fff;
	text-align:center;
}


.img-t4{
	width: 250px;
	height: 120px; 
}
.img-t6{
	margin-top: 20px;
	width: 150px;
	height: 150px; 
}

.mapa{
	text-align:center;
}

.img-novedad{
	width: 150px;
	height: 150px; 
}

.enlaces{
	color: #7e906b;
}

.diapositivas{
	font-size: 20px;
	color: #000;;
}

a.enlaces:hover{
	color: #49543f;
}
/*
 * Search
 */
 
iframe#google {
	border:0;
	margin:0;
	padding:0;
	width: 100%;
}


/*
 * Panels
 */

.list-group-item {
    background: #fff;
    border: 0px solid #e00;
}

.list-group-item:first-child {
    padding-top: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
	/* Color de fondo del titulo de sponsor*/
	text-align:center;
}

.list-group {
	margin-top:10px;
	text-align:center;

}

.list-group-item-heading {
    font-weight:bold;
}

h2.list-group-item-heading {
    color: #000;

}
h3.list-group-item-heading {
    color: #454837;
}

h4.list-group-item-heading {
    color: #000;

}
h1.list-group-item-heading{
	margin-top:10px;
	color: #3a3d2e;
}


/* SPONSOR
*/
.list-sponsor-item {
    background: #fff;
}

.list-sponsor-item:first-child {
    padding-top: 2px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
	text-align:center;
}

.list-sponsor {
	margin-top:10px;
	text-align:center;
}

.list-sponsor-item-heading {
    font-weight:bold;
}

h3.list-sponsor-item-heading {
    margin-top:10px;
    color: #24221c;
}

h4.list-sponsor-item-heading {
    color: #f4eed7;
}

.img-sponsor-grande {
    width: 150px;
	height: 100%;
	margin: 10px 
}
.img-sponsor {
    width: 100px;
	height: 100%;
	margin: 10px 
}


/*
 * Header
 */

#header {
	margin-bottom: 10px;
}

/*
 * Navbar
 */

/*
 * LOGO BANNER
 */
#header .img-logo {
	width: 600px;
	height: 100%;
}

#header .logo {
	margin-top: 0px;
	background-color: transparent;
	text-align:center;
} 


#header .banner{
	/*background-image: url(/static/img/banner4.png);*/
	background-size: 100% ;
	background-position: 0 center;
	background-repeat: no-repeat;
	margin-top: 10px;
	text-align:center;


}

#header .icono-social {
	color:#fff;
}

/*
 * END LOGO BANNER
 */

.navbar-header div.loginreg {
	text-align: center;
	margin-top: 0px;
}
 
@media (min-width: 768px) {
	.navbar-header div.loginreg {
		float: left;
	}
}


/*NO SE USA*/
#header .navbar-brand {
	width: 200px;
	height: 200px; 
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-image: url(/static/img/logo-header.png);
}

#header button.navbar-toggle {
	margin-top: 30px;
	background-color: #000;
}

#header button.navbar-toggle .icon-bar {
	background-color: #fff;
}

#header-navbar-collapse {
	margin-right: -15px;
}

@media (min-width: 768px) {
	#header-navbar-collapse {
		margin-left: 00px;
	}
}

#header-navbar-collapse > ul {
	margin-right: 0;
}

@media (min-width: 768px) {
	#header-navbar-collapse > ul {
		width: 100%;
	}
}

#header ul.navbar-nav > li {
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #fff;
	border-bottom: 4px solid #fff;
}

#header ul.navbar-nav > li > span {
        display:block;
        height:25px;
        margin:0 auto;
}

#header ul.navbar-nav > li:not(.active) > span {
        background-image: url(/static/img/icons/icons.png);
}

#header ul.navbar-nav > li.active > span,
#header ul.navbar-nav > li:hover > span {
        background-image: url(/static/img/icons/icons_active.png);
}

#header ul.navbar-nav > li > span.inicio {
        width: 25px;
        background-position: -31px 25px;
}

#header ul.navbar-nav > li > span.quienes_somos {
        width: 25px;
        background-position: 0 25px;
}

#header ul.navbar-nav > li > span.news {
        width: 26px;
        background-position: -206px 25px;
}

#header ul.navbar-nav > li > span.faqs {
        width: 18px;
        background-position: -98px 25px;
}

#header ul.navbar-nav > li > span.irc {
        width: 31px;
        background-position: -61px 25px;
}

#header ul.navbar-nav > li > span.eventos {
        width: 19px;
        background-position: -151px 25px;
}

#header ul.navbar-nav > li > span.pyar {
        width: 26px;
        background-position: -175px 25px;
}

#header ul.navbar-nav > li > span.jobs {
        width: 24px;
        background-position: -121px 25px;
}

/*
MENU
*/
@media (min-width: 768px) {
	#header ul.navbar-nav > li {
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #24221c;
		/*color del fondo*/
		border-left: 1px solid #24221c;
		border-bottom: 0px solid #f4eed7;

	}
}

/* 
NUEVO MENU
*/
.nav-pills{
	background-color: #24221c;
}

.menu{
	background-color: #24221c;
}

ul.nav-pills > li > a {
	padding-top:10px;
	padding-bottom: 10px
	padding: 0;
	color: #e3e2db;
	font-size: 20px;
	text-align: center;
}

ul.nav-pills > li > a:hover,
ul.nav-pills > li > a:active {
	color: #ddd;
	background-color: #4d483b
}

/* 
END NUEVO MENU
*/

#header ul.navbar-nav > li:first-child {
	border-left: 0;
}

/* width: porcentaje div la cantidad de item del menu*/
@media (min-width: 768px) {
	#header ul.navbar-nav > li {
		width: 20%;
	}
}

/*Letras del menu*/
#header ul.navbar-nav > li > a {
	padding: 0;
	color: #e3e2db;
	font-size: 20px;
	text-align: center;
}


#header ul.navbar-nav > li > a:hover {
	background-color: transparent;
}

/*menu activado*/
#header ul.navbar-nav > li.active,
#header ul.navbar-nav > li:hover {
	background-color: #4d483b;
	border-bottom: 4px solid #fdca01;
}

@media (min-width: 768px) {
	#header ul.navbar-nav > li.active,
	#header ul.navbar-nav > li:hover {
		border-bottom: 0px solid #fff;
	}
}

/*Letras del menu activadas*/
#header ul.navbar-nav > li.active > a,
#header ul.navbar-nav > li:hover > a {
	color: #fff;
}

/*
 *
 */

h3 {
	color:#35679a;
	font-weight: bold;
}

/*
 * Footer
 */


#footer {
	padding-top:10px;
	padding-bottom: 10px;
	background-color: #24221c;
}

#footer a {
	color: #808080;
	font-size: 11px;
}

@media (min-width: 768px) {
	#footer ul.right {
		float: right;
	}
}

#footer li {
	line-height: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#footer li.pyar {
	padding-left: 100px;
	background-position: 0 center;
	background-repeat: no-repeat;
	background-image: url(/static/img/pyar-footer.png);
}

#footer li.usla {
	text-align: right;
	padding-right: 80px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(/static/img/usla-footer.png);
}

/*En uso*/
#footer .python {
	text-align: center;
	background-position: center;
}

#footer .img-tetris {
	width: 100%;
	height: 100%; 
}
#footer .img-logo {
	width: 150px;
	height: 50px; 
}

#footer .tetris {
	margin-top: 0px;
	background-color: #24221c;
	text-align:center;
} 


/* Wrapper */
.icon-button {
	background-color: #24221c;
	border-radius: 6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 3rem;
	height: 6rem;
	line-height: 6rem;
	margin: 5 10px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 6rem;
	height: 6rem;
	border-radius: 6rem;
	margin: -3rem;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 6rem;
	left: 0;
	line-height: 6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 6rem;
	z-index: 10;
}


.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

.juego span{
	background-color: #4B8A08

}

.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}

.icon-button .icon-google-plus {
	color: #db5a3c;
}

.icon-button .icon-juego{
	color: #4B8A08;	
}


.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .icon-juego{
	color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
	  height: 1.6rem;
	  line-height: 1.6rem;
	  width: 1.6rem;
  }
  body {

	  padding: 10px;
  }
  .pinterest {
   display: none; 
  }

.imagenes{
	width: 100%;
	height: 100%
}