
    #tetris {
        width: 360px;
        border: 0px solid black;
        padding: 20px;
        


    }

    #tetris .center {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        background-color: #b0e0e6;
    }
    #canvas {
        width: 200px;
        height: 440px;
        background-color: #24221c;
        position: relative;
        color: #24221c;
    }
    #canvas h1 {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 30px;
        padding-top: 200px;
        }

    .piece {
        border: 1px solid white;
        position: absolute;
        }
    .square {
        position: absolute;
        width: 19px;
        height: 19px;
        border: 1px solid #24221c;
        }

    .type0 { background-color: #005544;}    
    .type1 { background-color: #71c837;}     
    .type2 { background-color: #44aa00;} 
    .type3 { background-color: #f0a003;} 
    .type4 { background-color: #f1f103;} 
    .type5 { background-color: #00e153;} 
    .type6 { background-color: #d45500;}
    
    #next_shape {
        position: relative;
        background-color: #24221c;
        border: 0px solid white;
        width: 90px;
        height: 100px;
        }


    #info {
        background-color: #24221c;
        color: #fff;
        float: right;
        width: 110px;
        height: 440px;
        padding: 0px;
    }


#level{
    color:  #fff;
    padding-left: 30px;
}

#lines{
    color:  #fff;
    padding-left: 30px;
}
#score{
    color:  #fff;
    padding-left: 30px;
}
#time{
    color:  #fff;
    padding-left: 30px;
}
#next{
    padding-left: 32px;
}