{% extends "base_site.html" %}

{% block left-column %}

    <!-- ColumnaCentral -->
    <section>   
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <article class="col-sm-12"> 

                <div class="parrafo">
                    <h4>Envianos tu Propuesta de Charla para este Pyday Lujan</h4>

                    <iframe src="https://docs.google.com/forms/d/1xprupl4XTCWIX39WMdcfKlUv1ifdC96yBx0fu_Jw2so/viewform?embedded=true" width="760" height="2079" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
                </div>
                </article>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>
  
 {% endblock %}