{% extends "base_site.html" %}

{% block left-column %}

    <!-- ColumnaCentral -->
    <section>   
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <article class="col-sm-12"> 

                <div class="text-justify">

                    <h3 class="text-center titulos">Call for Charlas PyDay Lujan 2014 (Completo)</h3>

                    <p>El Grupo de Usuarios de Software Libre (UNLUX) de la Universidad Nacional de Luján invita a la comunidad de usuarios de Python y de Software Libre en general a proponer presentaciones y charlas para el encuentro PyDay Luján 2014, que tendrá lugar en la Sede Central de la Universidad Nacional de Luján (UNLu) el sábado 20 de septiembre de 2014.</p>

                    <h4>Sobre el PyDay</h4>

                    <p>PyDay es el nombre coloquial con el que se conoce a las jornadas de lenguaje Python de un día de duración. Este evento se presenta como una oportunidad de encuentro e intercambio de experiencias entre desarrolladores, programadores y usuarios del lenguaje en ámbitos que se extienden a la empresa, la academia, el arte y, desde luego, el ocio.</p>

                    <p>La temática del evento es el lenguaje de programación de propósito general Python, en niveles introductorios e intermedios tanto teórico (charla) como práctico (talleres), si bien también serán recibidas aquellas propuestas de temas más avanzados y afines.</p>

                    <p>Cada disertante dispondrá de 45 minutos para su exposición, incluyendo el tiempo para preguntas. Habrá unos 15 minutos de intermedio entre charlas. Además, el día del evento se se pondrá a disposición de los presentes un listado para recibir propuestas de Charlas Relámpago.</p>

                    <h4>Envío de propuestas</h4>

                    <p>Para acercarnos una propuesta de charla, ingrese a la sección “Charlas” en el sitio oficial del evento [1] y complete el formulario de propuesta allí presente.</p>

                    <p>El material de las presentaciones se hará disponible a los asistentes, por lo que solicitamos se brinde bajo una licencia que permita su libre distribución.</p>

                    <h4>Fecha límite</h4>

                    <p>La recepción de propuestas finaliza el día 15 de agosto del corriente año a la medianoche. Las presentaciones fuera de plazo podrán ser considerados para su inclusión en la conferencia principal en caso de quedar espacio disponible. Una vez evaluadas las propuestas, se informará a los autores el resultado de la selección.</p>

                    <p>Para contactarse en forma privada respecto a su propuesta, por ideas más generales o preguntas sobre el evento, por favor envíenos un correo electrónico a <a href="mailto:pydaylujan@gmail.com">pydaylujan@gmail.com</a></p>

                    <p>Esperamos contar nuevamente con Uds. en la UNLu para compartir momentos memorables durante el PyDay Luján 2014.</p>

                    <p>Agradeceremos la difusión de este llamado y del encuentro en sí.</p>

                    <p>Muchas Gracias.</p>

                    <p>[1] <a target="_blank" href="http://pyday.unlux.com.ar">http://pyday.unlux.com.ar</a></p>

                </div>
                </article>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>
  
 {% endblock %}
