{% extends "base_site.html" %}

{% block left-column %}


    <section>   
        <div class="row text-justify">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <article class="col-sm-12">
                    <h2 >AGENDA</h2>

                    {% for c in contenidos %}

                        <!-- LLAMADO A CHARLA -->
                       
                        {% ifequal c.titulo "Llamado a Charlas" %}
                             {% ifequal c.visible "T" %}

                                <h3 class='titulos'><i class="fa fa-comment"></i> {{c.titulo}}</h3>
                                <p>{{c.parrafo1}}</p>
                                <p>{{c.parrafo2}}</p>
                                <p>{{c.parrafo3}}</p>
                                {%if c.enlace%}
                                    <h4><a class='enlaces' href="{{c.enlace}}">Mas Informacion</a></h4>
                                {%endif%}
                                <h4><a class='enlaces' href="/charlas/cfc"><b>FORMULARIO DE PROPUESTA DE CHARLA</b> </a></h4>
                                <h5><a class='enlaces' href="/charlas/cfc_full"><b>CFC completo</b> </a></h5>
                            {% endifequal%}            
                        {% endifequal%}

                        <!-- CRONOGRAMA -->
                       
                        {% ifequal c.titulo "Cronograma" %}
                             {% ifequal c.visible "T" %}
                                <h3 class='titulos'><i class="fa fa-calendar-o"></i> {{c.titulo}}</h3>
                                <p>{{c.parrafo1}}</p>
                                <p>{{c.parrafo2}}</p>
                                <p>{{c.parrafo3}}</p>
                                {%if c.enlace%}
                                    <center><h4><a class='btn btn-success btn-lg' href="{{c.enlace}}" target="__blank">Ver el cronograma</a></h4></center>
                                {%endif%}
                            {% endifequal%}            
                        {% endifequal%}
                    {% endfor %}

                    <center><h4><a class='btn btn-warning btn-lg' href="https://drive.google.com/folderview?id=0B2RA_fL2V5jPVnhINHc2QWotSDQ&usp=sharing" target="__blank">Ver Slides de las Charlas</a></h4></center>

                    <!-- CHARLAS -->
                    {% for c in charlas %}
                        {% ifequal c.estado "Aceptada" %}
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                    <h4 class='titulos'>
                                    <big> <b> <i class="fa fa-code"></i> {{c.titulo}} </b></big>
                                     {{c.hora_inicio}} -
                                     {{c.hora_finalizacion}} 

                                     </h4>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <p> <b>Tipo:</b> {{c.tipo}} </p>
                                            <p> <b>Nivel:</b> {{c.nivel}} </p>
                                            <p><b>Aula:</b> {{c.aula}} </p>
                                            <p><b>Disertante: </b> {{c.disertante}}</p>
                                            <p><b>Descripción: </b>{{c.descripcion}}</p>
                                            {%if c.enlace%}
                                                <p><a class='enlaces' href="{{c.enlace}}">Mas Info</a></p>
                                            {%endif%}
                                        </div>
                            </div>
                        {% endifequal%}
                    {% endfor %}
                <!-- DISERTANTES --> 
                <h3 class='titulos'><i class="fa fa-users"></i> Disertantes</h3>
                {% for d in disertantes %}
                        {% ifequal d.visible "T" %}
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                    <h4 class='titulos'><i class="fa fa-user"></i> {{d.nombre}} </h4>
                                        
                            </div>
                        {% endifequal%}
                    {% endfor %}
                </article>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>
  
 {% endblock %}
