{% extends "base.html" %}

{% block content %}

<main id="main" class="container-fluid" role="main">

		<div>
			<div class="col-md-12">

				{% block left-column %}
				{% endblock %}
			</div>
		</div>
		<div> 
			<div class="col-md-12">

				{% block right-column %}							
								

				{% endblock %} <!--/right-column-->
			</div>
		</div>
</main>
{% endblock %}
