{% spaceless %}
<!DOCTYPE html>{% load staticfiles %}
<html lang="es-ar">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Pyday Lujan 2014</title>

        <meta name="description" content="Python Day en La Universidad Nacional de Luján, El 20 de septiembre de 2014">
        <meta name="Keywords" content="pyday,2014,lujan,unlu,univesidad" /> 

        <link rel="stylesheet" href="{% static "bootstrap/3.1.1/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
        <link rel="stylesheet" href="{% static "font-awesome-4.1.0/css/font-awesome.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/stylesheet.css" %}" />
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
		<link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />

        {% block stylesheets %} {% endblock %}

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
        <script src="{% static "bootstrap/3.1.1/js/bootstrap.min.js" %}"></script>

    </head>
    <body>
        {% include "header.html" %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}

        {% block javascripts %} {% endblock %}  

    </body>
</html>
{% endspaceless %}
