<footer id="footer" class="container-fluid">
    <div >
        <div class="col-sm-12">
            <div class="tetris">
                <a href="#top">
                <img class="footer img-logo" src="/static/img/logo.png" alt="Logo" />
                </a>                
            </div>        
        </div>
    </div>

    <div >
        <div class="col-sm-12">
            <div class="tetris">
                <img class="footer img-tetris" src="/static/img/footer.png" alt="Imagen pie" />
            </div>           
        </div>
    </div>

    <div >
        <div class="col-sm-12">
            <ul class="footer python">
                <a href="#">Comunidad Python Argentina</a> | Hosted by <a href="http://www.nesys.com.ar" target="__blank">Nesys</a>
            </ul>
        </div>
    </div>
</footer>
