{% load staticfiles %}

<header id="header" class="navbar navbar-static-top" role="banner">

    <!--BANNER-->
    <div class="banner">   
        <div class="col-md-3"> 

        </div>
        <div class="col-md-6">
        
            <div class="logo">
                <img class="imagenes" src="/static/img/logo.png" alt="PYDAY LUJÁN - Jornada de Programación en Python" />
            </div>
        </div>
        <div class="col-md-3"> 
            <div>
                <p class="icono-social">Seguinos en</p>
                <!--  <a href="/inscripcion"><i class="fa fa-twitter fa-4x fa-inverse"></i> </a> -->
                <a href="https://twitter.com/PydayLujan" class="icon-button twitter" target="_blank" ><i class="fa fa-twitter icon-twitter" ></i><span></span></a>
                <a href="https://www.facebook.com/events/734062113322575/?fref=ts" target="_blank" class="icon-button facebook"><i class="fa fa-facebook icon-facebook" ></i><span></span></a>
                <a href="https://plus.google.com/u/0/events/ckp0v2ntt44j4d67o2lg48lfu64?authkey=CKbP8bK7kp_XQg" class="icon-button google-plus" target="_blank" ><i class="fa fa-google-plus icon-google-plus"></i><span></span></a>
            </div>
            <p class="icono-social">¡Jugar ahora!</p>
            <a href="/conferencia/jugar" class="icon-button juego"> <i class="fa fa-gamepad icon-juego"></i><span></span></a>
        </div>
    </div>        

    <!--MENU-->
    <div>
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/">Principal<br class="hidden-xs"></a></li>
                    <li><a href="/charlas">Charlas<br class="hidden-xs"></a></li>
                    <li><a href="/conferencia">Conferencia<br class="hidden-xs"></a></li>
                    <li><a href="/conferencia/lugar">Lugar<br class="hidden-xs"></a></li>
                    <li><a href="/inscripcion">Inscripción<br class="hidden-xs"></a></li>
                    <li><a href="/contacto">Contacto<br class="hidden-xs"></a></li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</header>
