{% extends "base_site.html" %}

{% block left-column %}

    <!-- ColumnaCentral -->
    <section>   
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <article class="col-sm-12"> 

                <div class="parrafo">
                    <h4>Completa el Formulario de Inscripción para este Pyday Luján</h4>

                    <iframe src="https://docs.google.com/forms/d/1oZ-TKCHvfQXxeubS_9hxjIoJ8JUjPsUVyJMCLFOJIOc/viewform?embedded=true" width="760" height="1224" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
                </div>
                </article>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>
  
 {% endblock %}