{% extends "base_site.html" %}
{% load staticfiles %}

{% block left-column %}

    <section>   
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <article class="col-sm-12">
            <div class="parrafo">
                <h3 class="text-index"> PEDI TU REMERA DEL PYDAY LUJÁN</h3> 
                 <a href="" title="Remera Pyday Luján 2014 by PyDay_Lujan, on Flickr"><img class="imagenes img-rounded" src="https://farm4.staticflickr.com/3885/15374530065_c5b394b805.jpg" style="border-radius: 3px; border: 3px solid rgb(36, 34, 28);" width="500" height="281  "  alt="Remera Pyday Luján 2014"></a>
                <h4> Si te quedaste sin poder comprar la remera del pyday Luján 2014 podes pedirla directamente a Frikio: <b>info@frikio.com</b> </h4>
                <center><h4><a class='btn btn-success btn-lg' href="http://www.frikio.com.ar/" target="__blank"> Pagina de Frikio</a></h4></center>

            </div>    


                <h2 >INSCRIPCION</h2>
                <h4 ><b>ENTRADA LIBRE Y GRATUITA  </b></h4>
                <h3 class="titulos"> <i class="fa fa-pencil"></i> Inscripción al Pyday Luján</h3><br />
                {% for c in contenidos %}
                    {% ifequal c.visible "T" %}
                        <h3 class="titulos"><i class="fa fa-arrow-circle-o-right"></i> {{c.titulo}}</h3>
                        <p style="font-size: 125%">{{c.parrafo1}}</p>
                        <p style="font-size: 125%">{{c.parrafo2}}</p>
                        {%if c.enlace%}
                            <p><a class="enlaces" href="{{c.enlace}}">Mas Información</a></p>
                        {%endif%}
                        {%if c.img%}
                            {# Cosa 'e negro. Sepan disculpar :( #}
                            {%ifequal c.img "img_contenido/quincho.jpg" %}
                                <img class="imagenes img-rounded" src="media/{{c.img}}" style="border-radius: 30px; border: 7px solid rgb(36, 34, 28);" alt="{{c.titulo}}" />
                            {%else%}
                                <img class="imagenes img-rounded" src="media/{{c.img}}" alt="{{c.titulo}}" />
                            {%endifequal%}
                        {%endif%}
                    {% endifequal%}
                {% endfor %}

            </article>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>
 {% endblock %}
